---
import FeatureOne from '../assets/object-one.svg'
import FeatureTwo from '../assets/object-two.svg'
import FeatureThree from '../assets/object-three.svg'
---



<section class="solutions" id="features">
    <div class="container">
      
        <div class="row">
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureOne} alt="Prospect">
                </div>
                <h3 class="h3-title">Prospect</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere velit ullam maxime veritatis,  possimus.</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureTwo} alt="Marketing">
                </div>
                <h3 class="h3-title">Marketing</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere velit ullam maxime veritatis,  possimus.</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media  m-margin">
                    <img src={FeatureThree} alt="Automation">
                </div>
                <h3 class="h3-title">Automation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere velit ullam maxime veritatis,  possimus.</p>
            </div>
        </div>
    </div>
</section>


<style lang="scss">
    .solutions{
        .container{
            background-color: var(--tenary);
            border-radius: 40px;
            padding: 40px;
        }
        h3, p{
            color: #fff;
        }
        img{
            width: 150px;
        }
    @media (max-width:700px) {
        text-align: center;
        .sol-wrap{
            padding: 30px;
        }
    }
}
</style>