---
import FeatureOne from '../assets/object-one.svg'
import FeatureTwo from '../assets/object-two.svg'
import FeatureThree from '../assets/object-three.svg'
---



<section class="solutions" id="features">
    <div class="container">
      
        <div class="row">
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureOne} alt="Prospect">
                </div>
                <h3 class="h3-title">Reduced Development Time</h3>
                <p>Focus on innovation, not infrastructure. Our platform handles the heavy lifting, freeing you to dedicate your expertise to crafting groundbreaking solutions.</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media m-margin">
                    <img src={FeatureTwo} alt="Marketing">
                </div>
                <h3 class="h3-title">Open Source</h3>
                <p>Our open-source based platform has solid foundation, making powerful AI tools accessible to everyone.</p>
            </div>
            <div class="sol-wrap one-third column">
                <div class="sol-media  m-margin">
                    <img src={FeatureThree} alt="Automation">
                </div>
                <h3 class="h3-title">Enhanced Collaboration</h3>
                <p>Foster a vibrant developer community through open-source collaboration. Share knowledge, contribute to the platform, and learn from the best in the field.</p>
            </div>
        </div>
    </div>
</section>


<style lang="scss">
    .solutions{
        .container{
            background-color: var(--tenary);
            border-radius: 40px;
            padding: 40px;
        }
        h3, p{
            color: #fff;
        }
        img{
            width: 150px;
        }
    @media (max-width:700px) {
        text-align: center;
        .sol-wrap{
            padding: 30px;
        }
    }
}
</style>