<section class="fine-section" id="pricing">
    <div class="container">
        <div class="center text-container">
            <h2 class="h2-title">Stop wasting time & start automating your feed</h2>
            <p>The complete toolkit to turn one-time browsers into long-term customers. No matter how many twitter accounts you install Astrobrew on, <strong>$95/month total</strong> is all you'll have to pay</p>

            <button class="button button-primary">7-day free trial</button>
        </div>
    </div>
</section> 