---
import Few from "../assets/few.svg";

const testimonials = [
    {
        image:
            "../../public/images/Images12.jpg",
        quote:
            "Greenprint ha revolucionado nuestra producción. Con sus sistemas hidropónicos, hemos reducido el uso de agua y eliminado los químicos. La frescura y calidad de los cultivos son inigualables.",
        name: "Roberto Méndez, Gerente de Producción @EcoFarms",
    },
    {
        image:
            "../../public/images/Image10.png",
        quote:
            "Gracias a Greenprint puedo cultivar en mi apartamento. Ahora disfruto de alimentos frescos y sin pesticidas, y me encanta ser parte de un modelo sostenible.",
        name: "Laura Gómez, Cliente Urbana",
    },
    {
        image:
            "../../public/images/Image3.jpg",
        quote:
            "Implementamos Greenprint en nuestra empresa y ha sido un éxito. Los clientes valoran el enfoque sin químicos y nuestro equipo se ha adaptado rápidamente al sistema.",
        name: "María Villanueva, CEO @UrbanHarvest Co.",
    },
    {
        image:
            "../../public/images/Image13.jpg",
        quote:
            "Los sistemas de Greenprint nos permitieron expandir nuestra granja vertical sin gastar en pesticidas o fertilizantes. Ahora, nuestros cultivos son 100% naturales.",
        name: "Ignacio Ruiz, Fundador @VerdeCity",
    },
];
---

<style>
    :root {
        --accent: #CA555D;
        --tenary: #8574EB;
    }

    .customer-image:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out; /* Agrega esta línea para la transición suave */
    }

    .customer-image {
        transition: transform 0.3s ease-in-out; /* Agrega esta línea para la transición suave al quitar el hover */
    }
</style>

<section id="customers" class=" mx-10 rounded-3xl py-16">
    <h1
    class="text-green-600 font-bold text-7xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-center pb-10 mb-10"
  >
    Testimonios
  </h1>
    <div class="container mx-auto px-4 relative">
    
        <!-- Testimonios -->
        <div class="space-y-16">
            {testimonials.map((testimonial) => (
                <div class="flex flex-col md:flex-row items-center md:items-start md:space-x-8">
                    <!-- Imagen del cliente -->
                    <div class="relative w-60 h-60 flex-shrink-0">
                        <img
                            src={testimonial.image}
                            alt="Customer"
                            class="w-full h-full object-cover rounded-2xl customer-image"
                        />
                    </div>
                    <!-- Testimonio -->
                    <div class="mt-8 md:mt-0 text-black md:w-2/3 pt-14">
                        <h4 class="text-2xl md:text-3xl font-medium mb-4 text-black text-pretty">
                            "{testimonial.quote}"
                        </h4>
                        <p class="text-xl text-blacktext-pretty text-center md:text-left">{testimonial.name}</p>
                    </div>
                </div>
            ))}
        </div>
    </div>
</section>
