

<footer class="py-12 bg-gray-100">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center gap-6 py-8">
      <a
        href="#"
        class="text-xl text-gray-900 hover:text-green-500 transition-colors"
        >Ayuda</a
      >
      <a
        href="#"
        class="text-xl text-gray-900 hover:text-green-500 transition-colors"
        >Preguntas Frecuentes</a
      >
      <a
        href="#"
        class="text-xl text-gray-900 hover:text-green-500 transition-colors"
        >Política de Privacidad</a
      >
      <a
        href="#"
        class="text-xl text-gray-900 hover:text-green-500 transition-colors"
        >Contacto</a
      >
      <a
        href="#"
        class="text-xl text-gray-900 hover:text-green-500 transition-colors"
        >Sostenibilidad</a
      >
    </div>
    <div class="text-center mt-8">
      <!-- <a href="https://github.com/LaB-CH3/greenprint" class="inline-block">
        <img src={Start.src} alt="Greenprint logo" class="w-32 mx-auto" />
      </a> -->
      <p class="mt-4 text-gray-600">
        © 2024 Greenprint. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
