---
import Start from '../assets/start.svg'
const creator = `https://instagram.com/codetonero/`
const links = [
  { title: 'Help',  link: creator },
  { title: 'FAQ', link: creator },
  { title: 'Privacy', link: creator },
  { title: 'Discord', link: creator },
  ]
---

<footer>
    <div class="container">
      <div class="flex">
        {links.map((item) => (
            <a href={item.link} target="_blank">{item.title}</a>
        ))}      
      </div>
      <div class="center">
        <a href="https://github.com/LaB-CH3/astrobrew">
          <img src={Start.src} alt="">
        </a>
      </div>
    </div>
</footer>

<style lang="scss">

footer{
  padding: 50px;
}

.flex{
  justify-content: center;
  padding: 50px 10px;
  a{
    padding: 20px;
    color: #111;
    text-decoration: none;
    font-size: 2rem;
  }
}

img{
    width: 200px;
  }
</style>