<header>
  <nav
    class="container flex flex-col md:flex-row items-center justify-between gap-4 py-5"
  >
    <!-- Logo -->
    <div class="flex-1 text-center md:text-left">
      <a href="https://anthonycharles.work">
        <h1 class="text-3xl md:text-4xl hover:text-green-500">GREENPRINT</h1>
      </a>
    </div>

    <!-- Enlaces de navegación -->
    <div class="flex flex-col md:flex-row items-center gap-4 mt-4 md:mt-0">
      <a href="#features" class="text-gray-700">Características</a>
      <a href="#customers" class="text-gray-700">Clientes</a>
      <a
        href="https://astrobrewpro.netlify.app/"
        target="_blank"
        class="text-gray-700 flex items-center"
      >
        <span>Tienda Virtual</span>
        <span
          class="bg-green-400 text-white px-2 py-1 rounded-full text-sm font-medium animate-pulse text-lg ml-2"
          >New</span
        >
      </a>
    </div>

    <!-- Botón de contacto -->
    <div class="flex-1 text-center md:text-right mt-4 md:mt-0">
      <a
        href="https://wa.me/+541123924098?text=Hola!%20Tengo%20una%20consulta%20sobre:"
        class="bg-green-500 hover:bg-green-600 text-white px-6 py-3 rounded-full text-lg font-medium"
      >
        Contacto
      </a>
    </div>
  </nav>
</header>
