---
import Showcase from '../assets/ai-image-1.png'
import Cursor from '../assets/ai-image-2.png'
---


<section class="product-hero">
    <div class="container">
       <div class="row">
           <div class="one-half column">
              <div class="d-cell">
               <h1 class="h1-title">Build High-Performance AI Applications with Speed and Agility</h1>
               <div class="content">
                   <p>Ducter AI empowers developers to bring their ideas to life faster,
 all while reducing development costs and fostering a collaborative environment. It's the perfect platform to unleash your creativity and build the future of AI. </p>
                   <a href="#" class="button button-primary lg">Start your free trial</a>
               </div>
              </div>
           </div>
           <div class="one-half column hero-media">
               <img src={Showcase} class="u-full-width" alt="Hero illustrator">
           </div>
       </div>
    </div>
   </section>

   <style lang="scss">

    .product-hero{
        padding: 50px 0;
        .one-half{
            display: table;
            height: 400px;
            margin-bottom: 40px;
            .d-cell{
                display: table-cell;
                vertical-align: middle;
            }
        }
    .hero-media{
        position: relative;
        img:not(.u-full-width){
            width: 80px;
            position: absolute;
            left: 20px;
            bottom: 0;
        }
      }
    }
   </style>