---
import Showcase from '../assets/hero.svg'
---


<section class="product-hero">
    <div class="container">
       <div class="row">
           <div class="one-half column">
              <div class="d-cell">
               <h1 class="h1-title">Learn faster with your best language tutor</h1>
               <div class="content">
                   <p>Astrobrew is a free and open-source elegant landing page for Micro SaaS products built with Astro & Skeleton CSS</p>
                   <a href="https://github.com/LaB-CH3/astrobrew" class="button button-primary lg">Get started for free</a>
               </div>
              </div>
           </div>
           <div class="one-half column hero-media">
               <img src={Showcase} class="u-full-width" alt="Hero illustrator">
           </div>
       </div>
    </div>
   </section>

   <style lang="scss">

    .product-hero{
        padding: 70px 0;
        .row{
            display: flex;
            align-items: center;
        }
        .one-half{
            display: table;
            height: 400px;
            margin-bottom: 40px;
            .d-cell{
                display: table-cell;
                vertical-align: middle;
            }
        }
    .hero-media{
        position: relative;
        img:not(.u-full-width){
            width: 80px;
            position: absolute;
            left: 20px;
            bottom: 0;
        }
      }
    }


    @media (max-width: 700px) {
        .product-hero{
            .row{
                flex-direction: column;
            }
        }
    }
   </style>