---
import Showcase from "../assets/tweet.svg";
---

<section class="py-16 bg-gray-50">
  <div class="container mx-auto px-4">
    <div class="flex flex-col lg:flex-row items-center gap-8">
      <div class="lg:w-1/2 flex items-center h-96">
        <div>
          <h1 class="text-6xl font-bold leading-snug text-gray-900">
            La solución sostenible e innovadora en
            <span class="text-green-600">agricultura hidropónica.</span>
          </h1>
          <p class="mt-6 text-3xl text-gray-700">
            Transformamos el cultivo hidropónico con productos impresos en 3D y
            materiales reciclados, ofreciendo una opción accesible y ecológica
            para el futuro de la agricultura.
          </p>
            <a class="bg-green-600 text-white text-4xl rounded-full py-4 px-8 inline-block mt-6"
            >Visitar tienda</a
            >
        </div>
      </div>
      <div class="lg:w-1/2 relative flex items-center justify-center h-96">
        <img src={Showcase.src} class="w-full h-80" alt="Hero illustrator" />
      </div>
    </div>
  </div>
</section>
