---
import Showcase from '../assets/tweet.svg'
import Cursor from '../assets/cursor.svg'
---


<section class="product-hero">
    <div class="container">
       <div class="row">
           <div class="one-half column">
              <div class="d-cell">
               <h1 class="h1-title">The simple yet powerful alternative to <span>Zendesk.</span></h1>
               <div class="content">
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente itaque minima aliquid ea earum similique dolore magni, nam adipisci </p>
                   <a href="#" class="button button-primary lg">Start your free trial</a>
               </div>
              </div>
           </div>
           <div class="one-half column hero-media">
               <img src={Showcase} class="u-full-width" alt="Hero illustrator">
               <img src={Cursor} alt="Cursor icon">
           </div>
       </div>
    </div>
   </section>

   <style lang="scss">

    .product-hero{
        padding: 50px 0;
        .one-half{
            display: table;
            height: 400px;
            margin-bottom: 40px;
            .d-cell{
                display: table-cell;
                vertical-align: middle;
            }
        }
    .hero-media{
        position: relative;
        img:not(.u-full-width){
            width: 80px;
            position: absolute;
            left: 20px;
            bottom: 0;
        }
      }
    }
   </style>