<section class="bg-gray-50 py-20 flex items-center justify-center">
  <div class="container mx-auto px-4">
    <div class="max-w-7xl mx-auto text-center">
      <!-- Texto de descripción centrado -->
      <h3 class="text-5xl sm:text-6xl font-bold text-gray-900 mb-8">
        Cultiva de forma sostenible y natural
      </h3>
      <p
        class="text-gray-700 text-xl sm:text-3xl leading-relaxed mb-10 hover:text-green-600"
      >
        Con Greenprint, cultiva alimentos frescos y sin químicos dañinos.
        Nuestro sistema elimina la necesidad de agrotóxicos y fertilizantes
        artificiales, permitiéndote disfrutar de alimentos más saludables y
        ecológicos. Impulsa un estilo de vida más limpio, reduciendo el impacto
        ambiental y cuidando de tu salud.
      </p>
      <ol
        class="flex flex-col sm:flex-row sm:justify-center gap-6 text-gray-900 list-none pl-0"
      >
        <li class="flex items-center pl-10 mb-4 sm:mb-0 relative">
          <span
            class="absolute left-0 top-1/2 -translate-y-1/2 w-8 h-8 flex items-center justify-center bg-white text-lg font-bold border border-gray-900 rounded-md"
            >1</span
          >
          <p
            class="text-gray-900 text-lg sm:text-xl leading-relaxed ml-12 hover:text-green-600"
          >
            Fácil de instalar y mantener
          </p>
        </li>
        <li class="flex items-center pl-10 mb-4 sm:mb-0 relative">
          <span
            class="absolute left-0 top-1/2 -translate-y-1/2 w-8 h-8 flex items-center justify-center bg-white text-lg font-bold border border-gray-900 rounded-md"
            >2</span
          >
          <p
            class="text-gray-900 text-lg sm:text-xl leading-relaxed ml-12 hover:text-green-600"
          >
            Alimentos más frescos y saludables
          </p>
        </li>
        <li class="flex items-center pl-10 relative">
          <span
            class="absolute left-0 top-1/2 -translate-y-1/2 w-8 h-8 flex items-center justify-center bg-white text-lg font-bold border border-gray-900 rounded-md"
            >3</span
          >
          <p class="text-gray-900 text-lg sm:text-xl leading-relaxed ml-12">
            Reducción del impacto ambiental
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
